#header_icons {
    color: white;
    padding: 0 5px;
}

#brand_img {
    width: 200px;
}

#navbarSupportedContent {
    padding-left: 350px;
}

#navbarDropdown {
    color: white;
    font-family: auto;
}

#navbarDropdown:hover {
    color: #FCD462;
}

.nav-link {
    margin-right: 35px;
}

#nav_icon:hover {
    background-color: #FCD462;
}

#header_link {
    text-decoration: none;
    color: white;
    padding: 0 5px;
}

#header_icons:hover,
#header_link:hover {
    color: #FCD462;
}

#slide1-1 {
    border: 2px solid #FCD462;
    padding: 15px 40px;
    text-decoration: none;
    color: #212529;
    background-color: #FCD462;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    transition: font-size 0.5s;
}

#slide1-1:hover {
    background-color: #212529;
    color: #FCD462;
    font-size: 18px;
}

#slide1-2 {
    border: 2px solid rgba(128, 128, 128, 0.35);
    padding: 15px 40px;
    text-decoration: none;
    color: rgb(176, 176, 176);
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    transition: font-size 0.5s;
}

#slide1-2:hover {
    background-color: #FCD462;
    color: #212529;
    border: 2px solid #FCD462;
    font-size: 18px;
}

#ornaments:hover {
    background-color: #1414139a;
}

#orn_hover {
    padding: 15px;
    font-size: 50px;
}

#lady3 {
    width: 250px;
}

#lady4 {
    width: 250px;
    position: absolute;
    top: -25px
}

#gradient {
    background-image: url(/woman\ wearing\ a\ necklace.jpeg);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(/woman\ wearing\ a\ necklace.jpeg);
    background-position: center;
    background-size: cover;
    width: 950px;
    height: 680px;
}

#shop .far {
    opacity: 0;
    transition: opacity 0.5s;
}

#shop {
    text-decoration: none;
    text-align: center;
}

#shop:hover .far {
    opacity: 1;
}

#images_4 {
    background-image: url(/wearing\ necklace.jpeg);
    background-size: cover;
    height: 400px;
    width: 400px;
    position: relative;
    z-index: 0;
}

#images_4_child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-family: auto;
}

.mask {
    background-size: cover;
    position: absolute;
    background-position: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: -1;
}

#products {
    border: 2px solid #FCD462;
    text-decoration: none;
    color: white;
    padding: 15px 40px;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    transition: border 0.5s, color 0.5s;
}

#col3 {
    transition: background-color 0.5s;
}

#images_4 {
    opacity: 0.5;
    position: relative;
    width: 100%;
    height: 460px;
    transition: opacity 0.5s;
}

#images_4_h2 {
    font-family: auto;
    color: white;
    font-size: 40px;
    transition: color 0.5s;
}

#images_4_p {
    padding-bottom: 85px;
    color: black;
    opacity: 0;
    transition: opacity 0.5s;
}

#col3:hover {
    background-color: #FCD462;
}

#products:hover #images_4 {
    opacity: 0.1;
}

#col3:hover #images_4_h2 {
    color: black;
}

#col3:hover #products {
    color: black;
    border: 2px solid black;
}

#col3:hover #images_4_p {
    opacity: 1;
}

#images_4:hover {
    opacity: 0.1;
}

#rare_collections {
    padding: 8rem 20rem;
    background-image: url('/bg\ image.png');
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url('/bg\ image.png');
}

#button_rare {
    border: 2px solid #FCD462;
    padding: 15px 40px;
    text-decoration: none;
    color: #212529;
    background-color: #FCD462;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    transition: color 0.5s, background-color 0.5s;
}

#button_rare:hover {
    color: white;
    background-color: #e2ba4c;
}

#card_slider1_icon {
    opacity: 0;
    transition: opacity 0.5s, background-color 0.5s, color 0.5s;
}

#card_slider1_arrow {
    opacity: 0;
    transition: opacity 0.5s;
}

#card_slider1:hover #card_slider1_icon,
#card_slider1:hover #card_slider1_arrow {
    opacity: 1;
}

#card_slider1_icon:hover {
    background-color: #FCD462 !important;
    color: #353530 !important;
}
#img_3_a{
    text-decoration: none;
}
#img_3_heading{
    transition: color 0.5s;
}
#img_3_a:hover #img_3_heading{
    color: #FCD462 !important;
} 
#big_2small_h1_1{
    color: white;
    font-family: auto;
    position: absolute;
    top: 450px;
    left:20px
}
#big_2small_p_1{
    color: white;
    font-family: auto;
    position: absolute;
    top: 505px;
    left:20px
}
#big_2small{
    position: relative;
}